<div class="auth-container">

    <div class="auth-card">
  
      <h2>Create Account</h2>
  
      <p>Register to continue</p>
  
      <form (ngSubmit)="register()">
  
        <input
          type="text"
          name="name"
          [(ngModel)]="user.name"
          placeholder="Full Name"
          required
        />
  
        <input
          type="email"
          name="email"
          [(ngModel)]="user.email"
          placeholder="Email Address"
          required
        />
  
        <input
          type="password"
          name="password"
          [(ngModel)]="user.password"
          placeholder="Password"
          required
        />
  
        <button type="submit">
          {{ isLoading ? 'Creating...' : 'Register' }}
        </button>
  
      </form>
  
      <div class="bottom-text">
        Already have account?
        <a routerLink="/login">Login</a>
      </div>
  
    </div>
  
  </div>